*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    *background-image: url(https://static.vecteezy.com/system/resources/previews/002/079/185/non_2x/seamless-pattern-of-chocolate-chip-cookies-repetitive-background-of-sweet-round-biscuits-with-brown-cream-on-top-vector.jpg);
}
.titulo{
    padding: 150px 0 70px;
    font-size: 60px;
    text-align: center;
}
h4{
    margin: 20px 0px 10px 0px;
    font-size: 24px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
    font-size: 18px;
    margin-bottom: 10px;
}
.agregar a{
    width: 30px;
    height: 30px;
}
#producto {
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
}

.imgproduct{
    width: 304px;
    height: 330px;
    border-radius: 10px;
}

.contenido {
    width: 304px;
    border-radius: 10px;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    background-color: #F2F2F2;
    color: rgb(0, 0, 0);
}
.agregar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.boton_agregar{
    background-color: rgb(30, 151, 182);
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 5px;
    border-style: none;
    color: white;
}
#cantidad{
    width: 100px;
    height: 30px;
    margin-right: 30px;
    }
.material-icons{
    font-size: 30px;
    color: black;
}
@media screen and (max-width: 780px) {
    #producto {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}